body {
  margin: 0px;
}

.imgLogo {
  text-align: center;
  vertical-align: middle;
  width: 108px;
  height: 108px;
  position: relative;
  top: -54px;
  left: 50%;
  margin-left: -54px;
  background: #fff;
  border: 5px solid #cfffc7;
  border-radius: 50%;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #333333;
  margin-bottom: 6px;
  margin-top: -50px;
  text-align: center;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #616161;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}



.esqueceuSenha {
  color: #333333;
}

.esqueceuSenha:hover {
  text-decoration: underline;
}

.btnFacebook {
  background-image: url(./icon_facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px;
}

.btnGmail {
  background-image: url(./icon_gmail.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px;
}
