<div class="container" style="max-width: 400px; margin: auto">
  <form #form="ngForm" autocomplete="off">
    <div class="p-grid ui-fluid">
      <div class="p-col-12" style="margin-top: 60px;">
        <p-card>
          <div class="imgLogo">
            <img src="assets/logo.png" alt="Logo e-Destiny">
          </div>
          <h1>e-Destiny</h1>
          <h2>O destino do seu e-Lixo</h2>
          <div class="p-col-12">
            <span class="ui-float-label">
              <input name="email" email required id="inputEmail" type="text" pInputText required="true"
                #inputEmail="ngModel" [(ngModel)]="email">
              <label for="inputEmail">Email</label>
            </span>
          </div>

          <div class="p-col-12" style="margin-top: 10px;">
            <span class="ui-float-label">
              <input name="senha" maxlength="3" required id="inputSenha" type="password" pInputText required="true"
                #inputSenha="ngModel" [(ngModel)]="senha">
              <label for="inputSenha">Senha</label>
            </span>
            <small>
              <a class="esqueceuSenha">Esqueceu sua senha?</a>
            </small>
          </div>

          <p-footer>
            <div class="p-col-12" style="text-align: center;">
              <button pButton type="submit" class="ui-button-raised ui-button-success" icon="pi pi-sign-in"
                iconPos="right" label="Entrar" routerLink="/home" [disabled]="form.invalid"></button>
            </div>
            <div class="p-grid">
              <div class="p-col-12" style="text-align: center;">
                <small>
                  Ainda não possui conta? <a style="text-decoration: underline; color: #333333;">Registre-se.</a>
                </small>
              </div>
            </div>
          </p-footer>

        </p-card>
      </div>
    </div>
  </form>
</div>
