<div class="container">
  <h1>Bem vindo, usuário.</h1>

  <div class="p-grid ui-fluid">
    <div class="p-col-2">
      <a routerLink="/listarColetas">
        <p-card>
          <i class="pi pi-list" style="font-size: 1em"></i> Gerenciar coletas
        </p-card>
      </a>
    </div>

    <div class="p-col-2">
      <a routerLink="/novaColeta">
        <p-card>
          <i class="pi pi-plus-circle" style="font-size: 1em"></i> Nova coleta
        </p-card>
      </a>
    </div>
  </div>
</div>
